<div class="header-container " >
   
<div class="row m-0" >
    <div class="col-lg-6 logo-container">
        <div  class="logo">
            <img src="./../../../assets/img/LOGO.png" alt="Nature" >
    
    
        </div>
    </div>
    <div class="col-lg-6 login-btn-container" >
        <div class="login-btn">
            <i class="fa fa-user-o" ></i>
            Login / Register
        </div>
    </div>
</div>

<div class="text-block" >
    <h4 >
        Food delivery from the best restaurants near you <span>Order now!</span>
    </h4>

    <div class="example" >
        <input type="text" placeholder="Search Food or Restaurant.." name="search">
        <button >Search</button>
    </div>
</div>

</div>