<app-header></app-header>
<app-recent-order-section></app-recent-order-section>


<!-- <div class="food-slider" style="display: flex;
align-items: center;
justify-content: center;
align-content: center;">
    <div style="width: 80%;">
        <ng-image-slider #nav [images]="imageObjectFood" [infinite]="true" [imagePopup]='false' [autoSlide]="0"
        [imageSize]="{width: '100px',space:25, height:'100px'}" slideImage="1">
        
    
    </ng-image-slider>
    </div>
   

</div> -->

<!-- <app-recent-order-section></app-recent-order-section> -->
<!-- <div class="container-fluid " >
    <img src="./../../../assets/img/pin.png" alt="Nature">
    <div class="text-block" style="
    width: 100%;
   margin-left: 0;
    display: flex;
    align-items: center;
    text-decoration-skip-ink: 40%;
    color: #373737;
  
    font-weight: 700;
   
    font-size: 28pt;
    justify-content: center;

">
RECENT ORDERS
</div>
</div>
<div class=" row" style="height:auto;margin: 50px;">
<div class="col-lg-3" *ngFor="let item of dummyArray">
    <div class="card">
        <img src="assets/img/01_Home_07.jpg" alt="Denim Jeans" style="width:100%">
        <div style="display: flex;
        justify-content: space-between;    padding: 10px;    font-size: 16px;
">
            <label>Rice with young green peace</label>
            <label style="font-weight: 800;">$230</label>

        </div>
        <div style="        text-align: left;
        margin: 10px;
        background: yellow;
        color: #e60808;
        width: 47%;
        font-size: 17px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
    ">
            FREE DELIVERY
        </div>
        <div style="display: flex;
        justify-content: space-between;
        padding: 10px;align-items: center;">
            <div class="order-btn">
                Order Again
            </div>
            <div style="display: flex;
            justify-content: space-around;
            width: 35%;">
               <div style="background: red;
               width: 20px;
               height: 20px;
               border-radius: 10px;"></div>
               <div style="background: green;
               width: 20px;
               height: 20px;
               border-radius: 10px;"></div>
               <div style="background: blue;
               width: 20px;
               height: 20px;
               border-radius: 10px;"></div>
                <div style="background: slateblue;
                width: 20px;
                height: 20px;
                border-radius: 10px;"></div>
            </div>
        </div>

    </div>
</div>

</div> -->

<!-- 
<div class="container-fluid " >
    <img src="./../../../assets/img/pin.png" alt="Nature">
    <div class="text-block" style="
    width: 100%;
   margin-left: 0;
    display: flex;
    align-items: center;
    text-decoration-skip-ink: 40%;
    color: #373737;
  
    font-weight: 700;
   
    font-size: 28pt;
    justify-content: center;

">
        TOP LOCAL RESTAURANTS
    </div>
</div>
<div class="r row" style="height:auto;margin: 50px;">
    <div class="col-lg-3" style="    margin-top: 50px;
    margin-bottom: 50px;" *ngFor="let item of dummyArray">
        <div class="card">
            <img src="assets/img/01_Home_07.jpg" alt="Denim Jeans" style="width:100%">
            <div style="display: flex;
            justify-content: space-between;    padding: 10px;    font-size: 16px;
    ">
                <label>Rice with young green peace</label>
                <label style="font-weight: 800;">$230</label>
    
            </div>
            <label style="    text-align: left;
            padding: 10px;
            font-size: 14px;
            color: #9b9494;
            margin-top: -20px;">Fastfood, Meals, hot snacks</label>
           
            <div style="display: flex;
            justify-content: space-between;
            padding: 10px;align-items: center;">
                <div style="        text-align: left;
                margin: 10px;
                background: yellow;
                color: #e60808;
                width: 55%;
                font-size: 17px;
                height: 30px;
                display: flex;
                align-items: center;
                justify-content: center;
            ">
                    FREE DELIVERY
                </div>
                <div style="display: flex;
                justify-content: space-around;
                width: 50%;">
                  <div style="padding-left: 20px;
                  top: 10%;
                  padding-right: 20px;
                  right: 10%;
                  height: 40px;
                  border: solid 2px #e60808;
                  border-radius: 25px;
                  display: flex;
                  align-items: center;
                  text-align: center;
                  font-size: 14px;
                  color: #e60808">
                    Order Again
                </div>
                </div>
            </div>
    
        </div>
    </div>
</div>



<div class="row" style="display: flex;
align-items: center;
justify-content: center;">
    <div class="col-lg-4 col-md-4 col-sm-12 container-fluid " >
        <img src="./../../../assets/img/pin.png" alt="Nature">
        <div class="text-block" style="position: absolute;
        margin-left: 0%;
        width: 40%;
        color: #373737;
    font-family: unset;
    font-weight: 700;
        right: 10%;
        top: -21%;
        font-size: 28pt;
   
    ">
            HOW IT WORKS
        </div>
    </div>
    <div class="col-lg-8 col-md-8 " style="display: flex;
    align-items: center;
    justify-content: center">
        <img src="./../../../assets/img/CompositeLayer.png" >
    </div>
   


</div>

<div class="food-slider " style="padding-top: 3%;padding-bottom: 3%;height:auto;background-image: url('./../../../assets/img/01_Home_02.jpg');border-radius: 0 !important;" >
    
    <div style="display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;">
        <img src="./../../../assets/img/pin.png" alt="Nature">

        <h2 style="text-align: center;text-align: center; 
        color: #fffdfd;
        font-weight: 700;
        font-size: 28pt;">BEST PROMOTIONS TODAY</h2>
    </div>
    <div class="row">
    <div class="col-lg-3" style="    margin-top: 50px;
    margin-bottom: 50px;" *ngFor="let item of dummyArray">
        <div class="card">
            <img src="assets/img/01_Home_07.jpg" alt="Denim Jeans" style="width:100%">
            <div style="display: flex;
            justify-content: space-between;    padding: 10px;    font-size: 16px;
    ">
                <label>Rice with young green peace</label>
                <label style="font-weight: 800;">$230</label>
    
            </div>
            <label style="    text-align: left;
            padding: 10px;
            font-size: 14px;
            color: #9b9494;
            margin-top: -20px;">Fastfood, Meals, hot snacks</label>
           
            <div style="display: flex;
            justify-content: space-between;
            padding: 10px;align-items: center;">
                <div style="        text-align: left;
                margin: 10px;
                background: yellow;
                color: #e60808;
                width: 55%;
                font-size: 17px;
                height: 30px;
                display: flex;
                align-items: center;
                justify-content: center;
            ">
                    FREE DELIVERY
                </div>
                <div style="display: flex;
                justify-content: space-around;
                width: 50%;">
                  <div style="padding-left: 20px;
                  top: 10%;
                  padding-right: 20px;
                  right: 10%;
                  height: 40px;
                  border: solid 2px #e60808;
                  border-radius: 25px;
                  display: flex;
                  align-items: center;
                  text-align: center;
                  font-size: 14px;
                  color: #e60808">
                    Order Again
                </div>
                </div>
            </div>
    
        </div>
    </div>
</div>
</div> -->

