.col-md-3{
    display: inline-block;
    margin-left:-4px;
  }
  .col-md-3 img{
    width: 250px;
  }
  body .carousel-indicators li{
    background-color:red;
  }
  body .carousel-indicators{
    bottom: 0;
  }
  body .carousel-control-prev-icon,
  body .carousel-control-next-icon{
    background-color:red;
  }
  body .no-padding{
    padding-left: 0;
    padding-right: 0;
     }

     .carousel-control-next, .carousel-control-prev {
        width: 100px;   
     }

     .carousel-control-next-icon, .carousel-control-prev-icon {
        background: #b71818 no-repeat center center;
    }

    .carousel-indicators .active {
        background-color: #653838;
    }

    .carousel-indicators {
        bottom: -30px !important;
    }

    .carousel-indicators li {
        border: 1px solid #2f2c2c !important;
    }

    .fa {
        color: black;
        font-size: 30px;
        top: 120px;
    }
