<!-- <app-header></app-header> -->
<!-- <app-recent-order-section></app-recent-order-section> -->
<!-- <app-our-restaurants></app-our-restaurants> -->



<div id="demo" class="carousel slide" data-ride="carousel">

    <!-- Indicators -->
    <ul class="carousel-indicators">
      <li data-target="#demo" data-slide-to="0" class="active"></li>
      <li data-target="#demo" data-slide-to="1"></li>
      <li data-target="#demo" data-slide-to="2"></li>
    </ul>
    
    <!-- The slideshow -->
    <div class="container carousel-inner no-padding">
      <div class="carousel-item active">
        <div class="col-xs-3 col-sm-3 col-md-3" *ngFor="let item of arr">
          <app-oreder-item-card></app-oreder-item-card>
        </div>    
      </div>
      <div class="carousel-item">
        <div class="col-xs-3 col-sm-3 col-md-3" *ngFor="let item of arr">
          <app-oreder-item-card></app-oreder-item-card>
        </div>   
   
      </div>
      <div class="carousel-item">
        <div class="col-xs-3 col-sm-3 col-md-3" *ngFor="let item of arr">
          <app-oreder-item-card></app-oreder-item-card>
        </div>    
      </div>
    </div>
    
    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
      <i class="fa fa-chevron-left" aria-hidden="true"></i>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
      <i class="fa fa-chevron-right" aria-hidden="true"></i>
    </a>
  </div>
