.col-md-3{
    display: inline-block;
    margin-left:-4px;
  }
  .col-md-3 img{
    width: 250px;
  }
  body .carousel-indicators li{
    background-color:red;
  }
  body .carousel-indicators{
    bottom: 0;
  }
  body .carousel-control-prev-icon,
  body .carousel-control-next-icon{
    background-color:red;
  }
  body .no-padding{
    padding-left: 0;
    padding-right: 0;
     }

     .carousel-control-next, .carousel-control-prev {
        width: 100px;   
     }

     .carousel-control-next-icon, .carousel-control-prev-icon {
        background: #b71818 no-repeat center center;
    }

    .carousel-indicators .active {
        background-color: #653838;
    }

    .carousel-indicators {
        bottom: -30px !important;
    }

    .carousel-indicators li {
        border: 1px solid #2f2c2c !important;
    }

    .fa {
        color: black;
        font-size: 30px;
        top: 120px;
    }

    /* ////////////////////////////////////// */

    .container-recent-order{
      background-image: url(./../../../assets/img/pin.png);
      background-repeat: no-repeat;
      background-position: center;
  }
  
  .text-block{
      width: 100%;
      margin-left: 0;
       display: flex;
       align-items: center;
       text-decoration-skip-ink: 40%;
       color: #373737;
       height: 80px;
       font-weight: 700;
       font-size: 28px;
       justify-content: center;
  }
  
  
  .order-btn{
      padding-left: 20px;
      top: 10%;
      padding-right: 20px;
      right: 10%;
      height: 40px;
      border: solid 2px #e60808;
      border-radius: 25px;
      display: flex;
      align-items: center;
      text-align: center;
      font-size: 12px;
      color: #e60808;
      width: 111px;
      font-weight: 600;
      height: 31px;
    }
  
    .row{
      height:auto;margin: 50px;
    }
  
    .row-col{
      margin-bottom: 15px;
    }
  
    .title{
      display: flex;
      justify-content: space-between;
      padding: 10px;
      font-size: 16px;
      color: #140f0f;
      font-family: sans-serif;
    }
    .title .price{
      font-weight: 800;    
      font-weight: 800;
      color: #1F1F1F;
      font-size: 20px;
    }
    
    .del-sec{
      text-align: left;
      margin: 10px;
      background: #FEEF00;
      color: #B73819;
      width: 144px;
      font-size: 17px;
      height: 26px;
      font-family: inherit;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 600;
    }
  
    .del-sec img{
      width: 19px;
      height: 15px; 
         margin-right: 5px;
    }
  
    .order-sec{
      display: flex;
      justify-content: space-between;
      padding: 10px;align-items: center;
    }
  
    .icon-sec{
      display: flex;
      justify-content: space-around;
      width: 35%;
    }
  
    @media screen and (max-width: 992px) {
      
      .text-block{
          text-align: center;
           padding: 0% 15% 0 15%;
      }
      
    }