<div class="container-recent-order " >
    
    <div class="text-block" >
RECENT ORDERS
</div>
</div>
<div class=" row " >
<div class="col-lg-3 row-col" *ngFor="let item of dummyArray">
    <div class="card">
        <img src="assets/img/01_Home_07.jpg" alt="Denim Jeans" style="width:100%">
        <div class="title">
            <label>Rice with young green
                peas</label>
            <label class="price">$230</label>

        </div>
        <div class="del-sec">
            <img src="assets/Home/ico_motorbike.png" alt="Denim Jeans">  FREE DELIVERY
        </div>
        <div class="order-sec">
            <div class="order-btn">
                Order Again
            </div>
            <div class="icon-sec">
                 <img src="assets/Home/ico_nut.png" alt="Denim Jeans" style="    width: 19px;
                 height: 20px;  
             "> 
             <img src="assets/Home/ico_no chilli.png" alt="Denim Jeans" style="    width: 19px;
             height: 20px;  
         "> 
                <img src="assets/Home/ico_Gluten.png" alt="Denim Jeans" style="    width: 19px;
                height: 20px;  
            "> 
                 <img src="assets/Home/ico_Lactos.png" alt="Denim Jeans" style="    width: 19px;
                 height: 20px;  
             "> 
            </div>
        </div>

    </div>
</div>

</div>